/*  ---- Colors ----  */
$work: #47a;
$work-hover: darken( $work, 30% );
$resume: #E10000;
$resume-hover: darken( $resume, 30% );
$twitter-quote: #98AFC7;

/*  ---- Layout ----  */

// Work Blocks
$work-block-height: 250px;
$work-block-width: 250px;
$work-block-padding: 20px;
$work-block-margin: 0;
$full-work-block-width: ( $work-block-width + ( $work-block-padding * 2) + ( $work-block-margin * 2 ) );
$full-work-content-width: ($work-block-width * 3) + ($work-block-padding * 4) + ($work-block-margin * 4) + ( 3px * 2); // for inline-block spacers
$two-col-work-content-width: ($work-block-width * 2) + ($work-block-margin * 2) + ($work-block-padding * 2);
$one-col-work-content-width: $work-block-width;
$break-2col: $full-work-block-width * 2 + 17; // 17's handle inline-block spacing issues
$break-3col: $full-work-block-width * 3 + 17;

// Twitter Blocks



/*  ----  Type  ----  */
$base-font-size: 16px;
$base-line-height: 18px;

/*  ----  Type Sizes ----  */
$intro-header-large: 80px;
$intro-header-small: 50px;
$intro-body: 14px;

$work-header: 18px;
$work-body: 14px;

$twitter-header: 26px;
$twitter-body: 16px;
