.twitter {
	display: block;
	position: relative;
	margin: 100px auto 0 auto;
	padding: 0;
	text-align: center;
	max-width: $full-work-content-width + 50;

	@media screen and (max-width: $break-3col) {
		max-width: $two-col-work-content-width + 50;
	}

	@media screen and (max-width: $break-2col) {
		max-width: $one-col-work-content-width + 40;
	}

	header {
		@include adjust-font-size-to( $twitter-header );
		@include trailer();
		text-align: center;
	}

	.content {
		text-align: left;
	}

	.tweet {
		clear: both;
		position: relative;
		@include inline-block;
		@include box-sizing(content-box);
		@include font-heading;
		@include adjust-font-size-to( $twitter-body );
		@include trailer(2);
		border-collapse: collapse;
		width: $work-block-width;
		max-height: $work-block-height + 50;
		vertical-align: top;
		padding: $work-block-padding;
		margin: $work-block-margin;

		.tweet-body {
			@include adjust-font-size-to( $twitter-body );
			display: block;
			overflow: hidden;
		}

		.tweet-meta {
			display: block;
			text-align: right;
			@include adjust-font-size-to( $twitter-body - 2px );
		}
	}
}
