.maincontent {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	text-align: center;
	white-space-collapsing:discard;

	.intro {
		display: block;
		position: relative;
		margin: 40px auto;
		padding: 25px;
		max-width: $full-work-content-width;

		@media screen and (max-width: $break-3col) {
			max-width: $two-col-work-content-width;
		}

		@media screen and (max-width: $break-2col) {
			max-width: $one-col-work-content-width;
		}
	}

	.portfolio {
		display: block;
		position: relative;
		margin: 0 auto;
		padding: 0;
		max-width: $full-work-content-width + 50;
		text-align: left;

		@media screen and (max-width: $break-3col) {
			max-width: $two-col-work-content-width + 50; // 50 to cover extra margin/padding/block stuff
		}

		@media screen and (max-width: $break-2col) {
			max-width: $one-col-work-content-width + 40; // 40 to cover extra margin/padding/block stuff
		}

		.work {
			position: relative;
			@include inline-block;
			@include box-sizing(content-box);
			border-collapse: collapse;
			width: $work-block-width;
			max-height: $work-block-height;
			vertical-align: top;
			padding: $work-block-padding;
			margin: $work-block-margin;

			p {
				@include trailer;
			}
		}
	}

	.twitter {
		display: block;
		position: relative;
		margin: 40px auto;
		padding: 25px;
		text-align: left;
		max-width: $full-work-content-width;

		@media screen and (max-width: $break-3col) {
			max-width: $two-col-work-content-width;
		}

		@media screen and (max-width: $break-2col) {
			max-width: $one-col-work-content-width;
		}
	}

}

