.maincontent {

	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	text-align: center;

	.intro {
		display: block;
		position: relative;
		width: 75%;
		max-width: 700px;
		margin: 40px auto;
	}

	.work {
		position: relative;
		@include inline-block;
		width: 250px;
		max-height: 250px;
		vertical-align: top;
		padding: 20px;
		margin: 9px;

		p {
			@include trailer;
		}
	}
}

