@mixin cambria () {
	font-family: Cambria, Georgia, serif;
}

@mixin baskerville () {
	font-family: Baskerville, Garamond, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif;
}

@mixin sushi () {
	font-family: "Hoefler Text", Constantia, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;
}

@mixin didot () {
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

@mixin constantia () {
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

@mixin optima () {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
