@import "reset";
@import "fonts";

@include establish-baseline;


header {
	@include optima;
	@include adjust-font-size-to(14px);
	@include trailer();
}

.intro {

	header {
		@include adjust-font-size-to(18px);
	}
}

p {
	@include optima;
	@include adjust-font-size-to(12px);
	line-height: 13px;
}

nav {
	@include optima;
	@include adjust-font-size-to(36px);

}

a {
	color: #555;
	text-decoration: none;
	font-weight: bold;

	&:hover {
		color: #222;
	}
}

em {
	font-style: italic;
}
