@import "reset";
@import "fonts";

@include establish-baseline;

header {
	@include font-heading;
}

p {
	@include font-body;
	@include adjust-font-size-to( $body );
	@include trailer();
	text-align: justify;
}

blockquote {
	@include font-body;
	@include adjust-font-size-to( $body );
	@include trailer();
	text-align: center;
}

a {
	color: $work;
	text-decoration: none;
	font-weight: bold;

	&:hover {
		color: $work-hover;
		@include transition-property(color);
		@include transition-duration(0.5s);
		@include transition-timing-function(ease-in);
	}
}

em {
	font-style: italic;
}
