@import "reset";
@import "fonts";

@include establish-baseline;

.work {
	@include optima;
	
	header {
		@include adjust-font-size-to(16px);
		@include trailer();
	}

	p {
		@include adjust-font-size-to(12px);
		line-height: 14px;
	}

	nav {
		@include adjust-font-size-to(36px);
		
		a {
			color: #555;
			text-decoration: none;

			&:hover {
				color: #222;
			}
		}
	}
}
