{{#each section}}
	<section id="{{{this.id}}}" class="work">
		<article>
			<header>
				<h1>{{{this.title}}}</h1>
			</header>
			{{{this.desc}}}
			<nav>
				<a href="{{{this.url}}}">&#x261B;</a>
			</nav>
		</article>
	</section>
{{/each}}
