{{#each section}}
	<section id="{{{this.id}}}" class="work" itemscope itemtype="http://schema.org/CreativeWork">
		<article>
			<header>
				<a href="{{{this.url}}}" itemprop="url"><h1 itemprop="name">{{{this.title}}}</h1></a>
			</header>
			<section itemprop="description">
				{{{this.desc}}}
			</section>
		</article>
	</section>
{{/each}}
