{{#each section}}
	<section id="{{{this.id}}}" class="work">
		<article>
			<header>
				<a href="{{{this.url}}}"><h1>{{{this.title}}}</h1></a>
			</header>
			{{{this.desc}}}
		</article>
	</section>
{{/each}}
